
@{
    ViewData["Title"] = "Accueil des Rapports";
}

<h1>Index</h1>

<a class="btn btn-success" href="@Url.Action("Create","Report")">Créer un Rapport d'Accompagnement/Suivi Arbitre</a>
<a class="btn btn-secondary" href="@Url.Action("List","Report")">Voir mes Rapports</a>